# Core
requests

# API Server
fastapi
uvicorn

# Speech-to-Text
openai-whisper
sounddevice

# Text-to-Speech
pyttsx3
TTS
gTTS
pydub

# Input Control
pyautogui
pynput

# OCR / Screen Processing
pytesseract
mss
opencv-python

# Utilities
numpy
Pillow